#target {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 150px; /* تقدر تغيّر العرض من هنا */
  height: 80px; /* وتغيّر الارتفاع من هنا */

  border: 2px solid #888;
  transition: 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  text-transform: uppercase;
  font-family: sans-serif;
  user-select: none;
}


body{
  overflow: hidden;
  margin: 0;
  background-color: black;
}
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#111, #000);
  display: flex;
  cursor: none;
}

#cursorPt {
  position: fixed;
  width: 7px;
  height: 7px;
  pointer-events: none;
  z-index: 9999;
  background: #79f2e7;
  border-radius: 50%;
  visibility: hidden;
}

#cursor {
  --color: #4ed5b4;
  position: fixed;
  width: 30px;
  height: 30px;
  pointer-events: none;
  z-index: 9999;
  visibility: hidden;

  background-image: linear-gradient(to right, var(--color) 10px, transparent 0),
    linear-gradient(to bottom, var(--color) 10px, transparent 0),
    linear-gradient(to left, var(--color) 10px, transparent 0),
    linear-gradient(to bottom, var(--color) 10px, transparent 0),
    linear-gradient(to right, var(--color) 10px, transparent 0),
    linear-gradient(to top, var(--color) 10px, transparent 0),
    linear-gradient(to left, var(--color) 10px, transparent 0),
    linear-gradient(to top, var(--color) 10px, transparent 0);

  background-repeat: no-repeat;
  background-position: top left, top left, top right, top right, bottom left,
    bottom left, bottom right, bottom right;
  background-size: 20px 2px, 2px 20px, 20px 2px, 2px 20px, 20px 2px, 2px 20px,
    20px 2px, 2px 20px;
}

/*#target {
  position: relative;
  width: 150px;
  height: 80px;
  margin: auto;
  border: 2px solid #888;
  transition: 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  text-transform: uppercase;
  font-family: sans-serif;
  user-select: none;
}

#target:hover {
  border-color: #ccc;
  color: #ddd;
}
